<% include ./partials/header %>
<div id="aboutHeader" class="headerSection content bm-s font-2 inView" data-type="background" data-speed="5">
	<h1>About me</h1>
</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
			<div class="pannel-1">
				<p>&nbsp&nbsp Hello! My name is <strong>Rob</strong>, thank you for visiting my portfolio! I am
				a freelance <strong>Web Design & Developer</strong> that specializes in the <strong>MEAN
				Stack.</strong> I've been in love with coding since <strong>2012.</strong>
				I enjoy learning new things, which is why coding is a perfect profession for me since there
				is always something new to learn. I'm a very <strong>empathetic</strong> person, with a
				<strong>strong work ethic</strong> and a <strong>drive to learn</strong>. I put my all into every website
				I work on because I know how important it is to you.</p>
			</div>
			</div>
		</div>
		<div class="row tm-s">
			<div class="col-md-6 col-sm-6">
						<img class="img-responsive tm-s" src="/img/meanAcro.png">
			</div>
			<div class="col-md-6 col-sm-6">
						<img class="img-responsive" src="/img/meanja.png">
			</div>
		</div>
</div>
<% include ./partials/footer %>
