<% include ./partials/header %>
	<div class="container content">
		<div class="jumbotron">
			<h1><span class="glyphicon glyphicon-object-align-top" aria-hidden="true"></span> My Portfolio</h1>
			<p class="centered">Sleek, Fast, Efficient, a few examples of my past portfolio.</p>
		</div>
		<div class="row">
			<div class="col-xs-12">
				
			</div>
		</div>
	</div>
<% include ./partials/footer %>
