<% include ./partials/landing %>
<!--====================================================================================
|||||||||||||||||||||||||||||||||||||About Me|||||||||||||||||||||||||||||||||||||||||||
=====================================================================================-->
<section id="aboutMe">
<div class="container content">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="myH1 tm-s shadow tag animation-element slide-left">
					<i class="fa fa-user-o white" aria-hidden="true"></i>
					<div class="maroon inline">Who i am</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-lg-12">
				<div class="tm-s bm-s pannel-1 centered">
					<p>My name is Rob, and I love <strong>Web Design & Development</strong>.</p>
				</div>
			</div>
		</div>
	</div>
<!-- </section> -->
<!--====================================================================================
|||||||||||||||||||||||||||||||||Sliding Divs|||||||||||||||||||||||||||||||||||||||||||
=====================================================================================-->
	<div class="container centered noflow">
		<div class="row bm-s">
			<div class="col-md-4 col-sm-4 animation-element slide-left">
				<div class="panel panel-default">
				  <div class="panel-body shadow">
				    <i class="fa fa-fire fa-5x"></i>
				  </div>
				  <div class="panel-footer font-2">
				  	Passion
				  </div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animation-element slide-up">
				<div class="panel panel-default">
				  <div class="panel-body shadow">
				    <i class="fa fa-code fa-5x"></i>
				  </div>
				  <div class="panel-footer font-2">Code</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animation-element slide-right">
				<div class="panel panel-default">
				  <div class="panel-body shadow">
				    <i class="fa fa-coffee fa-5x"></i>
				  </div>
				  <div class="panel-footer font-2">Coffee</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--====================================================================================
||||||||||||||||||||||||||||||||||||What i do|||||||||||||||||||||||||||||||||||||||||||
=====================================================================================-->
<section>
<div id="whatIDoSection" class="inView" data-type="background" data-speed="5">
	<div class="container centered">
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div class="tm-s bm-s shadow tag animation-element slide-right">
					<i class="fa-stack fa-2x rocket-cog">
						<i class="fa fa-cog fa-spin fa-stack-2x white" aria-hidden="true"></i>
						<i class="fa fa-rocket fa-stack-1x black" aria-hidden="true"></i>
					</i>
					<div class="myH1 maroon inline">What I do</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="whatIDo bm-s">
					<p>Font end Design</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="bm-s miniSection centerItems">
					<img class="img-responsive animation-element appear" src="/img/responsive.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="whatIDo bm-s">
					<p>Back end Development</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="miniSection bm-s centerItems">
					<img class="img-responsive animation-element appear" src="/img/meanAcro.png" alt="">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="whatIDo bm-s">
					<p>Custom Wordpress Themes</p>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="miniSection bm-s centerItems">
					<img class="img-responsive animation-element appear" src="/img/wp-cogs.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>
</section>
<!--====================================================================================
|||||||||||||||||||||||||||||||||||My Languages|||||||||||||||||||||||||||||||||||||||||
=====================================================================================-->
<section id="toolsSection" class="noflow">
	<div class="container centered tm-s">
		<div class="row">
			<div class="col-xs-12">
				<div class="myH1 tm-s shadow tag bm-s animation-element slide-left">
					<i class="fa fa-wrench white" aria-hidden="true"></i>
					<div class="maroon inline">How I do it</div>
				</div>
			</div>
		</div>
		<div class="row tm-s bm-s animation-element appear">
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/javascript.png">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/html.png">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/css.png">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/sass.png">
			</div>
		</div>
		<div class="row tm-s bm-s animation-element appear">
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/mongodb.png">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/express.png">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/angularjs.png">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/nodejs.png">
			</div>
		</div>
		<div class="row tm-s bm-s animation-element appear">
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/php.png">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/mysql.png">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/wordpress.png">
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 centerItems">
				<img class="img-responsive" src="/img/webtech/bootstrap.png">
			</div>
		</div>
	</div>
</section>
<!--====================================================================================
||||||||||||||||||||||||||||||||||Portfolio Preview|||||||||||||||||||||||||||||||||||||
=====================================================================================-->
<section>
	<div id="portfolioSection" class="inView" data-type="background" data-speed="8">
		<div class="container centered">
			<div class="myH1 tm-s shadow tag animation-element slide-right">
				<span class="fa fa-folder-o white" aria-hidden="true"></span>
				<div class="maroon inline">Portfolio</div>
			</div>
			<div class="row tm-s bm-s">
				<div class="col-lg-4 col-sm-6">
					<div class="thumbnail shadow highlight">
						<a href="https://recipebook.ra92.design"><img src="/img/recipebook.png"></a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="thumbnail shadow highlight">
						<a href="https://rentacar.ra92.design"><img src="/img/rentacar.png"></a>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6">
					<div class="thumbnail shadow highlight">
						<a href="#"><img src="/img/treeSite.png"></a>
					</div>
				</div>
			</div>
			<h1 class="bm-s animation-element slide-left"><a class="maroon shadow btn btn-lg btn-danger" href="/portfolio"> See more <i class="fa fa-arrow-right"></i> </a></h1>
		</div>
	</div>
</section>
<% include ./partials/footer %>
