<% include ./partials/header %>
<div id="portfolioBody">
	<div id="portfolioHeader" class="headerSection content bm-s font-2 inView" data-type="background" data-speed="5">
		<h1></h1>
	</div>
	<div class="container bm-s">
		<div class="row">
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail shadow highlight">
					<img src="img/recipebook.png">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail shadow highlight">
					<img src="/img/rentacar.png">
				</div>
			</div>
			<div class="col-lg-4 col-sm-6">
				<div class="thumbnail shadow highlight">
					<img src="img/treeSite.png">
				</div>
			</div>
		</div>
	</div>
</div>
<% include ./partials/footer %>
