<% include ./partials/header %>
<div id="portfolioBody">
	<div id="portfolioHeader" class="headerSection content bm-s font-2 inView" data-type="background" data-speed="5">
		<h1></h1>
	</div>
	<div class="container noflow bm-s">

    <div class="row blogPost bm-s animation-element slide-right">
      <div class="col-sm-8 col-sm-push-4"><!-- Project Title -->
        <div class="bm-xs shadow tag centered">
          <div class="myH1 maroon inline">Rent a Car</div>
        </div>
      </div><!-- END -->
      <div class="col-sm-4 col-sm-pull-8"><!-- Project Thumbnail -->
        <a href="https://rentacar.ra92.design" target="_blank">
          <img class="img-responsive shadow bm-xxs ghost highlight" src="/img/rentacar.png">
        </a>
      </div><!-- END -->
      <div class="col-sm-8 col-sm-push-4">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;This project is a classified ads style website for car rentals. It allows users to post their cars they
        want to rent out. It takes basic information from the poster and displays it in a gallery and full page
        layouts for potential renters to see. The site features authentication via passport which allows users to
        create an account which will allow them to create, update, or delete their listing. Users can also post
        comments on eachother's listings to leave reviews or ask questions. This project went smoothly overall,
        the only real issue i had while building it was storing and retreiving MomentJS's date in MongoDB, which I
        later realized was unnecesary. </p>
      </div>
      <div class="col-sm-4 col-sm-pull-8 ghost-buster">
        <div class="myH2">Tools Used:</div>
        <p class="lead centered">MongoDB Express NodeJS Momentjs Passport Bootstrap</p>
      </div>
      <div class="col-sm-8 col-sm-push-4 centered">
          <a class="btn btn-lg btn-warning" href="https://rentacar.ra92.design" target="_blank">Visit Site</a>
          <a class="btn btn-lg btn-warning" href="https://github.com/ra92/rentacar" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Git Hub</a>
      </div>
    </div>
    <div class="row blogPost bm-s animation-element slide-left">
      <div class="col-sm-8"><!-- Project Title -->
        <div class="bm-xs shadow tag-inverted centered">
          <div class="myH1 maroon inline">Recipe Book</div>
        </div>
      </div><!-- END -->
      <div class="col-sm-4"><!-- Project Thumbnail -->
        <a href="https://recipebook.ra92.design" target="_blank">
          <img class="img-responsive shadow bm-xxs ghost highlight" src="/img/recipebook.png">
        </a>
      </div><!-- END -->
      <div class="col-sm-8">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Recipe Book is a full MEAN stack single page application project. It it simulates
        a recipe website that allows users to post recipes, or browse other user's recipes. It also features a recipe
        list page that lets users add ingredients to their shopping list manually, or import them from a recipe at the
        click of a button. Learning and getting used to Angular was the most challenging part of this project, but once
        I got the hang of it I really came to appreciate a lot of things about it such as two way databinding and the way
        it works with forms. </p>
      </div>
      <div class="col-sm-4 ghost-buster">
        <div class="myH2">Tools Used:</div>
        <p class="lead centered">MongoDB Express AngularJS NodeJS Firebase Bootstrap</p>
      </div>
      <div class="col-sm-8 centered">
          <a class="btn btn-lg btn-warning" href="https://recipebook.ra92.design" target="_blank">Visit Site</a>
          <a class="btn btn-lg btn-warning" href="https://github.com/ra92/recipebook" target="_blank"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Git Hub</a>
      </div>
    </div>
    <div class="row blogPost bm-s animation-element slide-right">
      <div class="col-sm-8 col-sm-push-4"><!-- Project Title -->
        <div class="bm-xs shadow tag centered">
          <div class="myH1 maroon inline">Wordpress Theme</div>
        </div>
      </div><!-- END -->
      <div class="col-sm-4 col-sm-pull-8"><!-- Project Thumbnail -->
        <img class="img-responsive shadow bm-xxs ghost highlight" src="/img/treesite.png">
      </div><!-- END -->
      <div class="col-sm-8 col-sm-push-4">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;This is a custom Wordpress Theme . It features a very simple but flexible
        design. The backend of this theme is very easy to understand and gives the user a lot of flexibility when it comes
        to deciding what and how to display what they want. Using Advanced Custom Fields and Custom Post
        Types made creating the backend user experience a breeze and allowed me to give the user a lot of control.</p>
      </div>
      <div class="col-sm-4 col-sm-pull-8 ghost-buster">
        <div class="myH2">Tools Used:</div>
        <p class="lead centered">Wordpress Bootstrap Underscore Php CPT AFC</p>
      </div>
      <div class="col-sm-8 col-sm-push-4 centered">
          <a class="btn btn-lg btn-warning">Visit Site</a>
          <a class="btn btn-lg btn-warning"><i class="fa fa-github fa-lg" aria-hidden="true"></i> Git Hub</a>
      </div>
    </div>




	</div>
</div>
<% include ./partials/footer %>
