<% include ./partials/header %>
<div id="resourcesHeader" class="headerSection content bm-s font-2 inView" data-type="background" data-speed="5">
	<h1>My Resources</h1>
</div>
	<div class="container">
		<div class="row">

			<div id="content" class="col-sm-12">
					<p class="lead">These are a few of the tools that I use daily: </p>
					<hr>

					<div class="resource-row clearfix">
						<div class="resource shadow">
							<img class="resource-img" src="/img/tools/atom.png" alt="Atom">
							<h3><a href="http://atom.io" target="_blank">Atom.io</a></h3>
							<p class="lead">Atom is Github's awesome open source text editor. What I love about it is how
							easy it is to customize the way you want. Using Atom's built in package manager
							you can easily install a variety of themes and plugins (like emmet!) at the click
							of a button. Atom is very customizable, easy to use, and best of all, completely free! </p>
							<a href="http://atom.io" class="btn btn-warning">Checkout Atom!</a>
						</div>
						<div class="resource">
							<img class="resource-img" src="/img/tools/dropbox.png" alt="Dropbox">
							<h3><a href="https://db.tt/Xra5aM3v1Q">Dropbox</a></h3>
							<p class="lead">Dropbox is an awesome way to share your files between your workstations or with
							your partners. It also has an auto backup feature which can be a life saver at times. Dropbox works
							 on mobile so you can access your files on your phone. Dropbox comes with 2GBs of free storage but
							 allows you to earn more space by doing the tutorial or referring friends. They have paid options
							 starting at $8 but as long as your just using it for small projects the free tier should be enough.</p>
								<a href="https://db.tt/Xra5aM3v1Q" class="btn btn-warning">Checkout Dropbox</a>
						</div>
						<div class="resource">
							<img class="resource-img" src="/img/tools/heroku.png" alt="Heroku">
							<h3><a href="https://www.heroku.com/home">Heroku</a></h3>
							<p class="lead">Heroku is one of if not the easiest ways to get your website / app up and running
							with the least ammount of work. It is extremely easy to use, and takes care of the hard stuff. It
							can get expensive for large businesses but it has an awesome free tier thats downside is that your
							app will fall asleep when it isn't being used. Nevertheless Heroku provides an awesome user experience
							that makes deploying and mainting apps a breeze.</p>
							<a href="https://www.heroku.com/home" class="btn btn-warning">Checkout Heroku</a>
						</div>
					</div>

			</div><!-- content -->

		</div><!-- primary -->
</div>
<% include ./partials/footer %>
